.root {
    width: 1920px;
    display: flex;
    flex-direction: column;
}

.header-faq {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png');
    background-position: 52% 18%;
    background-size: 100%;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.faq-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    column-gap: 50px;
}

.left {
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0 80px 0;
}

.right {
    width: auto;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0 80px 0;
}

.heading-text {
    line-height: normal;
    font-size: 70px;
    font-weight: 700;
    color: black;
    font-style: normal;
}

.subheading {
    font-size: 24px;
    line-height: normal;
    color: black;
    font-weight: 500;
    width: 90%;
    text-align: center;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 130px;
}




.accordion {
    width: 600px;
    min-height: 60px;
    margin-bottom: 15px;
    font-size: 24px;
}

.panel {
    width: 600px;
    font-size: 24px;
    display: none;
}

.active {
    width: 600px;
    font-size: 24px;
    display:block;
}

.hide{
    display: none;
}

.accordion:hover {
    background-color: #ccc;
}




.faq-breaker {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706072251/Marikina_-_San_Roque__view_from_Sta._Lucia___Marcos_Highway__Marikina_2017-08-22_green_dps6kt.jpg');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.faq-breaker-logo {
    width: 200px;
    height: 200px;
}

.answer{
    display: inline-block;
    width: 100%;
    inline-size: 600px;
    overflow-wrap: break-word;
    
}

.MuiPaper-root{
    background-color: red;
}