.root {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-perso {
    text-align: center;
    font-size: 2em;
}


.perso-subhead:nth-child(1) {
    margin: 0;
}

.perso-subhead {
    text-align: start;
    font-size: 30px;
    margin: 40px 0 0 0;
    width: 100%;
    
}

.existing-profile {
    margin-top: 30px;
}

.existing-profile:hover{
    background-color: #2fad6e;
    color: white;
    border: solid 1px #2fad6e;
}

.input-div{
    width: 450px;
}

.input-form {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-names {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-indent: 10px;
}

.label-forms {
    font-size: 20px;
    font-weight: 400;
}

.input-drop-down {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-indent: 10px;
    border: solid 1px;
}


.nav-buttons{
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.next-btn:hover{
    background-color: #2fad6e;
    color: white;
    border: solid 1px #2fad6e;
}
.notice {
    font-size: 10px;
    color: rgb(141, 16, 16);
}

.nav-buttons-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    margin-top: 10px;
}



.reg-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 400px;
    height: 50px;
    background-color: #2fad6e;
    color: white;
}


.reg-btn:hover{
    background-color: #299961;
    color: white;
    border: solid 1px #2fad6e;
}



.reg-btn:hover{
    background-color: #299961;
    color: white;
    border: solid 1px #2fad6e;
}

.success-modal-container{
    width: 100%;
    height: 2475px;
    position: absolute;
    top: 0;
    background-color: rgba(161, 161, 161, 0.39);

}
.success-modal-box{
    width: 350px;
    height: 300px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 30px 0;
}

.success-message-inner-box{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    background-color: #2fad6e;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mui-success-icon{
    color: white;
    font-size: 80px !important;
}

.inner-modal-message-with-btn{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}