.App{
    height: auto;
}

.body-content{
    width: 100%;
    height: auto;
}

#header-banner {
    width: 100%;
    height: 30px;
    background-color: #393939;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    position: fixed;
    z-index: 999;

}

#header-banner span {
    color: white;
    font-weight: 50;
    
}


#lang-icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 50;
    margin-right: 5%;
    cursor: pointer;
    width: 70px;
}

#lang-icon li {
    padding: 10px;
    list-style-type: none;
}

#lang-icon li:hover{
    color:#2fad6e;
}

#lang-dropdown{
    position: absolute;
    background-color: #393939;
    top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    height: 90px;
    width: 90px;
    transition: height 0.2s;
}

#lang-dropdown-hide {
    position: absolute;
    overflow: hidden;
    height: 0;
}

.li-focus{
    color: #2fad6e;
    font-weight: 700;
}

#language-select-background-unset{
    display: none
}

#language-select-background{
    width: 100%;
    height: 100%;
    position:fixed;
    background-color: rgba(66, 66, 66, 0.315);

    display: flex;
    align-items: center;
    justify-content: center;
}

#language-select-modal{
    width: 230px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#language-select-modal h3 {
    margin-bottom: 50px;
}
#language-select-modal button:nth-child(2) {
    margin-bottom: 20px;
}

#language-select-modal button{
    width: 200px;
}


@media screen and ( max-width: 580px) {
    #header-banner span {
          display: none;
    }
    #lang-icon{
        margin-right: 2%;
    }
}