.App{
    height: auto;
}

.body-content{
    width: 100%;
    height: auto;
}

#header-banner {
    width: 100%;
    height: 30px;
    background-color: #393939;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
}

#header-banner span {
    color: white;
    font-weight: 50;
    
}


#lang-icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 50;
    margin-right: 5%;
    cursor: pointer;
    width: 70px;
}

#lang-icon li {
    padding: 10px;
    list-style-type: none;
}

#lang-icon li:hover{
    color:#2fad6e;
}

#lang-dropdown{
    position: absolute;
    background-color: #393939;
    top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    height: 90px;
    width: 90px;
    transition: height 0.2s;
}

#lang-dropdown-hide {
    position: absolute;
    overflow: hidden;
    height: 0;
}

.li-focus{
    color: #2fad6e;
    font-weight: 700;
}


@media screen and ( max-width: 580px) {
    #header-banner span {
          display: none;
    }
}