.profile-main-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-image{
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-image: url(https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png);
    background-position: 49% 20%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    margin-bottom: 30px;
}

.user-contents{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    column-gap: 30px;
}

//user details
.user-details-box{
    width: 20%;
    height: min-content;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
}

.user-image{
    width: 150px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.user-name{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    line-height: normal;
}

.input-box{
    font-size: 16px;
    width: 70%;
    font-weight: 400;
    border-radius: 10px;
    text-indent: 10px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(223, 223, 223);
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.input-label{
    font-size: 14px;
    margin-top: 5px;
    color: gray;
}

.input-box .user-name{
    font-size: 16px;
    margin-bottom: 5px;
    width: 0
}

.edit-button{
    margin-bottom: 20px;
}


// user request

.user-requests-box{
    width: 55%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.status-cards-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.status-cards{
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);

}

.status-div-texts{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 80px;
}

.status-div-texts span:nth-child(1){
    color: rgb(17, 202, 17);
    font-size: 40px;
    font-weight: bolder;
}



.status-cards:nth-child(2) span:nth-child(1){
    color: rgb(255, 153, 0);
    font-size: 40px;
    font-weight: bolder;
}

.status-cards:nth-child(3) span:nth-child(1){
    color: rgb(0, 132, 255);
    font-size: 40px;
    font-weight: bolder;
}


.status-div-texts span:nth-child(2),
.status-div-texts span:nth-child(3) {
    color: rgb(131, 131, 131);
    font-size: 16px;
    font-weight: 600;
}

.profile-icons {
    font-size: 120px !important;
}

//request tabee

.requests-table{
    padding: 20px;
    background-color: white;
    height: 800px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

// edit profile component

.profile-edit-background{
    background-color: rgba(168, 168, 168, 0.5);
    width: 100%;
    height: 100%;
}

.profile-edit-main-div{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    max-width: 1060px;
}

.request-text-details span, .request-image-details span {
    font-size: 18px;
}

.request-text-details-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-review-input-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.row-review-input-data input {
    width: 250px;
    height: 25px;
    border: 1px solid #afafaf99;
    border-radius: 8px;
    text-align: start;
    text-indent: 5px;
}

.row-review-input-data textarea{
    resize: none;
    width: 542px;
    height: 100px;
}
.review-header{
    display: flex;
    flex-direction: row;
}

.details-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.header-btn-container{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}
.header-btn:disabled{
    cursor: auto;
}

.header-btn:hover{
    background-color: #2fad6e;
    color: white;
}
.header-btn-div{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.edit-profile-header{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

hr {
    width: 100%;
}

.back-btn{
    width: auto;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
    display: flex;
    align-items: center;
}

.back-btn:hover{
    color: #2fad6e !important;
    background-color: transparent !important;
    border: none !important;
}

.edit-header-w-btn{
    display: flex;
    width: 100%;
}
.edit-profile-header-w-btn{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    

}
.profile-edit-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

// edit message result

.sucess-msg{
    color: green;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    margin-right: 10px;
}

.failed-msg{
    color: red;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    margin-right: 10px;
}

@media screen and (max-width: 1920px){
    .user-contents {
            display: flex;
            flex-direction: row;
            width: 1728px;
            justify-content: center;
            column-gap: 30px;
        }
        .profile-edit-main-div{
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: rgb(255, 255, 255);
            width: 70%;
        }
        .request-text-details-inner{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 10px;
        }
}
@media screen and (max-width: 1440px) {
    .user-contents {
        display: flex;
        flex-direction: row;
        width: 100%;

        justify-content: center;
        column-gap: 30px;
    }
    .status-cards{
        width: unset;
    }
    .profile-edit-main-div{
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: rgb(255, 255, 255);
            width: 55%;
    }
    .request-text-details-inner{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 10px;
    }
    .row-review-input-data input{
        width: 230px;
    }
}

@media screen and (max-width: 1348px) {
    .user-contents {
        display: flex;
        flex-direction: row;
        width: 100%;

        justify-content: center;
        column-gap: 30px;
    }

    .status-cards {
        width: unset;
        padding: 15px;
    }

    .profile-edit-main-div {
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: rgb(255, 255, 255);
    }

    .request-text-details-inner {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 10px;
    }
        .row-review-input-data input{
        width: 210px;
    }
}

@media screen and (max-width: 1270px) {

    .status-cards-container {
            height: 150px;
        }
    
        .status-cards {
            padding: 20px;
        }
    
        .status-div-texts {
            height: auto;
            display: flex;
            flex-direction: column;
            width: 65px;
        }
    
        .status-div-texts span:nth-child(1) {
            font-size: 30px;
        }
    
    
    
        .status-cards:nth-child(2) span:nth-child(1) {
            font-size: 30px;
        }
    
        .status-cards:nth-child(3) span:nth-child(1) {
            font-size: 30px;
        }
    
        .status-div-texts span:nth-child(2),
        .status-div-texts span:nth-child(3) {
            color: rgb(131, 131, 131);
            font-size: 12px;
            font-weight: 600;
        }
        .profile-icons{
            font-size: 100px !important
        }
    .row-review-input-data input{
        width: 190px;
    }

}

@media screen and (max-width: 1250px) {

    .status-cards-container {
            height: 150px;
        }
    
        .status-cards {
            padding: 15px;
        }
    
        .status-div-texts {
            height: auto;
            display: flex;
            flex-direction: column;
            width: 65px;
        }
    
        .status-div-texts span:nth-child(1) {
            font-size: 30px;
        }
    
    
    
        .status-cards:nth-child(2) span:nth-child(1) {
            font-size: 30px;
        }
    
        .status-cards:nth-child(3) span:nth-child(1) {
            font-size: 30px;
        }
    
        .status-div-texts span:nth-child(2),
        .status-div-texts span:nth-child(3) {
            color: rgb(131, 131, 131);
            font-size: 12px;
            font-weight: 600;
        }
        .profile-icons{
            font-size: 80px !important
        }
        .row-review-input-data input{
        width: 100%;
    }

}

@media screen and (max-width: 1024px) {
    .status-cards-container{
        height: 150px;
    }

    .status-cards {
        padding: 10px;
    }

    .status-div-texts {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 65px;
    }

    .status-div-texts span:nth-child(1) {
        font-size: 30px;
    }



    .status-cards:nth-child(2) span:nth-child(1) {
        font-size: 30px;
    }

    .status-cards:nth-child(3) span:nth-child(1) {
        font-size: 30px;
    }

    .status-div-texts span:nth-child(2),
    .status-div-texts span:nth-child(3) {
        color: rgb(131, 131, 131);
        font-size: 12px;
        font-weight: 600;
    }
    .profile-icons{
    font-size: 80px !important;
    }

    .user-image{
        width: 120px;
    }
    .user-name{
    font-size: 21px;
 
    }
    .input-box .user-name{
        font-size: 12px;
    }
    .profile-edit-main-div{
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: rgb(255, 255, 255);
    }
    .request-text-details-inner{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 10px;
    }
}

@media screen and (max-width: 920px){
    .user-contents{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        column-gap: 30px;
        align-items: center;
        }
    .user-details-box{
        width: 45%;
        height: min-content;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px 0 20px 0;
        box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
        align-items: center;
    }
    .edit-button{
        margin-bottom: 0;
    }
    .input-box{
        display: none;
    }
    .status-cards {
        padding: 25px;
    }
    .user-requests-box{
        margin-top: 30px;
        width: 80%;

    }
        .status-div-texts {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 65px;
    }


    .status-div-texts span:nth-child(2),
    .status-div-texts span:nth-child(3) {
        color: rgb(131, 131, 131);
        font-size: 12px;
        font-weight: 600;
    }
    .profile-icons{
    font-size: 80px !important;
    }
    .status-div-texts span:nth-child(1) {
        font-size: 40px;
    }
    .status-cards:nth-child(2) span:nth-child(1) {
        font-size: 40px;
    }

    .status-cards:nth-child(3) span:nth-child(1) {
        font-size: 40px;
    }
    .profile-edit-main-div{
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: rgb(255, 255, 255);

            width: 70%;

    }
    .request-text-details-inner{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 10px;
    }
}


@media screen and (max-width: 768px){
    .user-requests-box{
        height: unset;
        justify-content: center;
        align-items: center;        

        margin-top: 15px;
    }
    .status-cards-container{
        flex-direction: column;
        height: unset;
        width: 270px;
        row-gap: 10px;
    }
    .status-div-texts span:nth-child(2),
    .status-div-texts span:nth-child(3) {
        color: rgb(131, 131, 131);
        font-size: 14px;
        font-weight: 600;
    }
    .profile-icons{
        font-size: 100px !important;
    }
    .requests-table{
        width: 80%;
        overflow: scroll;
    }

    .profile-edit-main-div{
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: rgb(255, 255, 255);

        width: 70%;

    }
    .request-text-details-inner{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 10px;
    }
    .row-review-input-data input{
        width: 100%;
    }
}

@media screen and (max-width: 524px) {
    .user-details-box{
        width: 64%;
    }
    .user-requests-box {
        height: unset;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
    }

    .status-cards-container {
        flex-direction: column;
        height: unset;
        width: 270px;
        row-gap: 10px;
    }

    .status-div-texts span:nth-child(2),
    .status-div-texts span:nth-child(3) {
        color: rgb(131, 131, 131);
        font-size: 14px;
        font-weight: 600;
    }

    .profile-icons {
        font-size: 100px !important;
    }

    .requests-table {
        width: 90%;
        overflow: scroll;
        height: unset;
        min-height: 500px;
    }
    .row-review-input-data input{
        width: 150px;
    }
    .profile-edit-main-div{
        display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: rgb(255, 255, 255);
            width: 330px;


            align-items: center;
    }

    .profile-edit-main-div div:nth-child(12){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .profile-edit-main-div div:nth-child(12) .row-review-input-data,
    .profile-edit-main-div div:nth-child(12) .row-review-input-data input{
        width: 100%;
    }
                   .profile-edit-main-div div:nth-child(12) {
                       display: flex;
                       flex-direction: column;
                       flex-wrap: nowrap;
                       width: 100%;
                       margin-bottom: 10px;
                   }
        
                   .profile-edit-main-div div.row-review-input-data,
                   .profile-edit-main-div div.row-review-input-data input {
                       width: 100%;
                   }
}


@media screen and (max-width:  376px) {
    .user-details-box {
        width: 64%;
    }

    .user-requests-box {
        height: unset;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
    }

    .status-cards-container {
        flex-direction: column;
        height: unset;
        width: 270px;
        row-gap: 10px;
    }

    .status-div-texts span:nth-child(2),
    .status-div-texts span:nth-child(3) {
        color: rgb(131, 131, 131);
        font-size: 14px;
        font-weight: 600;
    }

    .profile-icons {
        font-size: 100px !important;
    }

    .requests-table {
        width: 90%;
        overflow: scroll;
        height: unset;
        min-height: 500px;
    }

    .row-review-input-data input {
        width: 150px;
    }

    .profile-edit-main-div {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        width: 72%;
        align-items: center;
    }


    .user-name{
        font-size: 16px !important;
    }
    .edit-button{
        font-size: 12px;
    }
                .edit-profile-header,
                .edit-header-w-btn span {
                    font-size: 16px;
        
                }
}


@media screen and (max-width: 320px){


    .edit-profile-header, .edit-header-w-btn span{
        font-size: 16px;
     
    }
    .row-review-input-data{
        font-size: 12px
    }
    .row-review-input-data input{
        font-size: 12px
    }
    .profile-edit-btn-div{
        font-size: 12px;
    }
    .sucess-msg{
        font-size: 12px !important;
    }
    .failed-msg{
        font-size: 12px !important;
    }
    .user-name{
        font-size: 16px !important;
    }
    .edit-button{
        font-size: 12px;
    }
}



//reuplaod modal

.reupload-background{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reupload-container{
    background-color: white;
    border-radius: 20px;
    z-index: 999;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.header-perso {
    text-align: center;
    font-size: 2em;
}

.perso-subhead {
    text-align: center;
    width: auto;
}

.input-form {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.input-names {
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.label-forms {
    font-size: 20px;
    font-weight: 400;
}

.gender-drop-down {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.next-btn {}

.left-sign {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}


.upload-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 15px;
    align-items: flex-start;
    margin: 30px 0 30px 0
}

.first-id {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

}

.second-id {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.first-id,
.second-id {
    row-gap: 15px;
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-weight: 450;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-id span,
.second-id span {
    width: 80%;
}

.signatures-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.nav-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.input-form-proof {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.signatures-buttons {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.sketchCanvas {
    width: 100%;
    height: 100%;
}

.sketchBtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

.nav-btn:hover {
    background-color: #2fad6e;
    color: white;
    border: solid 1px #2fad6e;
}



.right-sign {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

}

.checkSignature {
    width: 100%;
    height: 80%;
    border: solid 1px gray;
    display: flex;
}

.sketchImgPreview {
    width: 100%;
}

.checkSignatureMessage {
    color: black;
    height: 42px;
}

.nav-buttons-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    margin-top: 30px;
}

.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(88, 88, 88, 0.5);
}


// styling input type file 

input[type="file"] {
    display: none;
}

.file-btn {
    background-color: rgb(245, 245, 245);
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    padding: 10px 15px 10px 15px;

}

.file-btn:hover {
    background-color: #2fad6e;
    color: white;

}

.file-div-doc {
    width: 300px;
    height: 45px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 20px
}

.file-btn-doc {
    width: 100px;
    height: 45px;
    background-color: rgb(245, 245, 245);
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    border-right: 1px solid #e4e4e4;
    ;
}

.file-div-doc:hover .file-btn-doc {
    background-color: #2fad6e;
    color: white;

}

.tenant-letter-span {
    margin: 14px 0 14px 0;
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 14px;
}

.display-letter-span {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


//iframe

.img-container {
    width: 340px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.6);

}

@media screen and (max-width: 1440px) {
    .img-container {
        width: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .input-form-proof {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .first-id {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;

    }

    .second-id {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;

    }

    .left-sign {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
    }

    .sketchBtn button {
        font-size: 14px;
    }

    .signatures-buttons {
        gap: 10px;
    }

    .right-sign {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
    }

    .upload-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-items: center;
        margin-top: 15px;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }
}


@media screen and (max-width: 800px) {
    .input-form-proof {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .left-sign {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
    }

    .sketchBtn button {
        font-size: 14px;
    }

    .signatures-buttons {
        gap: 10px;
    }

    .right-sign {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
    }

    .upload-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-items: center;
        margin-top: 15px;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }

    .upload-div span {
        font-size: 12px;
    }

    .file-btn {
        font-size: 14px;
    }

    .img-container {
        width: 280px;
    }

    .nav-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {

    .first-id span,
    .second-id span {
        width: 100%;
    }

    .img-container {
        width: 240px;
    }

    .sketchBtn button {
        font-size: 12px;
    }

    .file-btn {
        font-size: 14px;
    }

    .tenant-letter-span {

        font-size: 14px;
    }

    .file-div-doc {
        width: 250px;
        font-size: 14px;
    }

    .file-btn-doc {
        width: 70px;
    }
}