.profile-main-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-image{
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-image: url(https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png);
    background-position: 49% 20%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    margin-bottom: 30px;
}

.user-contents{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    column-gap: 30px;

}

//user details
.user-details-box{
    width: 20%;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
}

.user-image{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.user-name{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
}

.input-box{
    font-size: 16px;
    width: 70%;
    font-weight: 400;
    border-radius: 10px;
    text-indent: 10px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(223, 223, 223);
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-label{
    font-size: 14px;
    margin-top: 5px;
    color: gray;
}

.input-box .user-name{
    font-size: 16px;
    margin-bottom: 5px;
    width: 0
}

.edit-button{
    margin-bottom: 20px;
}


// user request

.user-requests-box{
    width: 55%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.status-cards-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.status-cards{
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);

}

.status-div-texts{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 80px;
}

.status-div-texts span:nth-child(1){
    color: rgb(17, 202, 17);
    font-size: 40px;
    font-weight: bolder;
}

.status-div-texts span:nth-child(2), .status-div-texts span:nth-child(3){
    color: rgb(131, 131, 131);
    font-size: 16px;
    font-weight: 600;
}



.status-cards:nth-child(2) span:nth-child(1){
    color: rgb(255, 153, 0);
    font-size: 40px;
    font-weight: bolder;
}

.status-cards:nth-child(3) span:nth-child(1){
    color: rgb(0, 132, 255);
    font-size: 40px;
    font-weight: bolder;
}


//request tabee

.requests-table{
    padding: 20px;
    background-color: white;
    height: 800px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

