.root {
    width: 1920px;
    height: 200vh;
}

.image-bg {
    width: 100%;
    height: 800px;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070970/Marikina_-_San_Roque__view_from_Sta._Lucia___Marcos_Highway__Marikina_2017-08-22_copy1_3_nsqqds.png');
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    align-content: center;
    justify-content: center;
}

.heading-text {
    line-height: normal;
    font-size: 100px;
    font-weight: 700;
    margin-left: 4.7%;
    color: black;
    text-align: start;
    font-style: normal;
}

.subheading {
    font-size: 36px;
    line-height: normal;
    margin-left: 5%;
    width: 700px;
    color: black;
    font-weight: 500;
    text-align: start;
}

.cards-container {
    width: 100%;
    height: 525px;
    position: absolute;
    top: 650px;
    background-color: rgba(227, 15, 15, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding-right: 0%;
    justify-content: center;
    gap: 40px;
}

.card {
    height: 100%;
    width: 394px;
    border-radius: 20px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #90c052 0%, #1db36b 100%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;

}

.about-sec-home {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: end;
    gap: 50px;
    background-repeat: no-repeat;
    background-position: 20% 29%;
    background-size: 30%;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
}

.left-image {
    height: 500px;
    width: 828px;
    background-color: rgba(121, 28, 28, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    text-align: start;
}

.right-about-info {
    width: 828px;
    height: 400px;
    background-color: #2fad6e;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
}

.header-home-about {
    color: black;
    font-size: 21px;
    line-height: normal;
    font-weight: 700;
}

.header-about-main {
    font-size: 50px;
    line-height: NORMAL;
    font-weight: 800;
    text-align: center;
}

.subhead-home-about {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.about-btn {
    background-color: #2fad6e;
    color: white;
    width: 142px;
    height: 60px;
}

.brgy-info-mem {
    margin-top: 50px;
    height: 1500px;
}

.top {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070886/Marikina_-_San_Roque__view_from_Sta._Lucia___Marcos_Highway__Marikina_2017-08-22_copy_1_vvxmq8.png);
    background-position: 49% 51%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    border-radius: 10px;
    column-gap: 20px;
}

.officials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070751/logo_sln6bp.png);
    background-position: 23% 18%;
    background-size: 20%;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    height: 1500px;
}

.top-card {
    height: 100%;
    width: 394px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 20px;
}

.cert-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 0;

}

.id-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.faq-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.gradient-card {
    position: absolute;
    width: 394px;
    height: 525px;
    bottom: 1px;
    background-repeat: repeat;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.0) 0%, rgba(29, 179, 107, 0.8) 100%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-items: start;
    align-items: start;
    align-content: start;
}

.explore-more {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.card-text {
    font-weight: 700;
    color: white;
    text-align: start;
    font-size: 40px;
    bottom: 80px;
    display: flex;
    direction: ltr;
    margin-left: 20px;
}

.card-subtext {
    bottom: 25px;
    color: white;
    font-weight: 600;
    text-align: start;
    margin-left: 20px;
    width: 300px;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 20px;
    height: 48px;

}

.card-info-brgy {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    justify-content: center;
    text-align: start;
}

.icon-1 {}

.head1-info {
    font-size: 60px;
    line-height: normal;
    font-weight: 700;
    color: white;
}

.subhead1-info {
    font-size: 24px;
    line-height: normal;
    font-weight: 600;
    color: white;
}

.officials-header {
    font-size: 40px;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 50px;
}

.brgy-cpt {
    width: 1000px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.cpt-img {
    height: 100%;
}

.cpt-title {
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
    width: 160px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    border: 1px solid #2fad6e;
}

.cpt-name {
    font-size: 40px;
    line-height: normal;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cpt-desc {
    width: 450px;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
    margin-bottom: 30px;
}

.cpt-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    align-content: start;
    justify-content: start;
    width: 450px;
    height: 400px;
}

.cntc-us-boff {
    background-color: #2fad6e;
    color: white;
    width: 150px;
    height: 60px;
    float: right;
}

.ctncus-container {
    width: 100%;
    display: flex;
}

.carousell {
    height: 600px;
    display: flex;
    overflow: auto;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.carousell-cards {
    width: 400px;
    background-color: rgba(190, 35, 35, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
    border-radius: 20px;
    border: 1px solid black;
    height: 450px;
    align-content: center;
    justify-content: center;
}

.kgwd {
    width: 250px;
    height: 250px;
}


.kgwd-title {
    font-size: 12px;
    line-height: normal;
    font-weight: 600;
    width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    border: 1px solid #2fad6e;
    height: 30px;
}

.kgwd-name {
    font-size: 24px;
    line-height: normal;
    font-weight: 900;
}

.kgwd-desc {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    width: 350px;
}

.kgwd-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    align-content: start;
    justify-content: start;
    width: 450px;
    height: 400px;
}

.contact {
    height: 800px;
    background-color: transparent;
    display: flex;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png);
    background-position: 51% 22%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 30px;
}

.contact-form {
    height: 80%;
    background-color: white;
    border-radius: 20px;
    width: 450px;
}

.logos {
    height: 100%;
    width: 45%;
}