.root {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    width: 1920px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}

.left {
    height: 100%;
    width: 200px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.right {
    height: 100%;
    margin-left: 0%;
    margin-right: 5%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: start;
    justify-content: end;
}

.logo {
    width: 130px;
    border-radius: 200px;
    height: 130px;
}

.menu-items {
    font-size: 18px;
    color: black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 150px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.right .menu-items:hover {
    color: #2fad6e;
}


.right .menu-items:nth-child(6) {
    border: 2px solid #2fad6e;
}

.right .menu-items:nth-child(6):hover {
    color: white;
    background-color: #2fad6e;
}


// profile drop down

.profile-drop-down{
    margin-right: 50px;
    width: auto;
    display: flex;
    justify-content: center;
}

.profile-drop-down .menu-items{
    width: fit-content;
}

.profile-drop-down-items{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    height: 120px;
   
    overflow: hidden;
    transition: height 0.3s;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    margin-top: 60px;
    
}

.hide-drop-down{
    height: 0;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    transition: height 0.3s;
    overflow: hidden;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    margin-top: 60px;
}




.drop-down-item{
    font-size: 18px;
    color: black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 150px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
 }

 .drop-down-item:hover {
    color: #2fad6e;
}