.root {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}



.left {
    height: 100%;
    width: 200px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.right {
    height: 100%;
    margin-left: 0%;
    margin-right: 5%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: start;
    justify-content: end;
}

.logo {
    width: 130px;
    border-radius: 200px;
    cursor: pointer;
}

.menu-items {
    font-size: 18px;
    color: black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 150px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.right .menu-items:hover {
    color: #2fad6e;
}

#get-in-touch{
    border: 2px solid #2fad6e;
    text-decoration: none;
}

#get-in-touch:nth-child(6) span:hover {
    color: white;
    background-color: #2fad6e;
}
#get-in-touch-hamburger{
    text-decoration: none;
}

.hamburger {
    display: none;
}

.hamburger-icon{
    font-size: 40px !important;
}
.hamburger-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: #00000069;
}
.hamburger-menu {
    position: fixed;
-webkit-box-shadow: -14px 0px 27px -20px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -14px 0px 27px -20px rgba(0, 0, 0, 0.64);
    box-shadow: -14px 0px 27px -20px rgba(0, 0, 0, 0.64);
    right: 0;
    top: 0;
    z-index: 999;
    width: 270px;
    background-color: #525252;
    height: 100%;
    transition: width 0.2s;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
}

.hamburger-menu-hidden {
    position: fixed;
    -webkit-box-shadow: -14px 0px 27px -20px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -14px 0px 27px -20px rgba(0, 0, 0, 0.64);
    box-shadow: -14px 0px 27px -20px rgba(0, 0, 0, 0.64);
    right: 0;
    top: 0;
    z-index: 999;
    width: 0;
    background-color: #bebebe;
    height: 100%;
    transition: width 0.2s;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.hamburger-close-btn{
    cursor: pointer;
    color: white;
    
}

.hamburger-close-icon {
    font-size: 30px !important;

}

.hamburger-close-btn:hover {
    color: red;
}

.hamburger-drop-down-profile{
    width: 100%;
    height: 120px;
    transition: height 0.2s;
    
}

.hamburger-drop-down-profile-hidden {
    width: 100%;
    height: 0px;
    transition: height 0.2s;
}


// profile drop down

.profile-drop-down{
    margin-right: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.profile-drop-down .menu-items{
    justify-content: center;
}

.profile-drop-down-items{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    height: 120px;
    overflow: hidden;
    transition: height 0.3s;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    margin-top: 60px;
    
}

.hide-drop-down{
    height: 0;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    transition: height 0.3s;
    overflow: hidden;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    margin-top: 60px;
}




.drop-down-item{
    font-size: 18px;
    color: black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 150px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
 }

 .drop-down-item:hover {
    color: #2fad6e;
}


@media screen and (max-width: 1200px){
    .menu-items{
    font-size: 18px;
    color: black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 120px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    }

    .right {
        margin-right: 2%;
    }
}



@media screen and (max-width: 1023px) {
 
    .logo{
        width: 100px;
    }
    .right {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 20px;
       
    }
    .hamburger:hover {
        display: block;
        cursor: pointer;
        color: #2fad6e;
    }
    .hamburger-username-span{
        width: 75%;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        text-overflow: ellipsis;
        
    }
    .menu-items {
        font-size: 24px;
        color: white;
        height: 80px;
        text-align: center;
        display: flex;
        justify-content: start;
        align-items: center;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 200px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }

    .hamburger-menu .menu-items:hover {
        color: #2fad6e;
    }


    .hamburger-menu .menu-items:nth-child(6) {
        border: 2px solid #2fad6e;
    }

    .hamburger-menu .menu-items:nth-child(6):hover {
        color: white;
        background-color: #2fad6e;
    }
    .profile-drop-down {
        margin-right: 50px;
        width: auto;
        display: flex;
        justify-content: start;
        margin-left: 0;
        width: 100%;
        flex-direction: column;
    }

    .profile-drop-down .menu-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .drop-down-item{
        color: white;
        font-size: 18px;
        height: 60px;
        text-align: center;
        display: flex;
        justify-content: start; 
        align-items: center;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 150px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        margin-left: 20px;
    }

}
@media screen and (max-width: 520px) {
    .hamburger-menu {
        width: 200px;
    }

    .menu-items {
        font-size: 18px;
        color: white;
    }
}

@media screen and (max-width: 420px) {
    .logo{
        width: 80px;
    }
    .hamburger-menu {
        width: 150px;
    }

    .menu-items {
        font-size: 14px;
        color: white;
        height: 50px;
        width: 150px;
    }
  .drop-down-item {
      font-size: 14px;
      height: 50px;
      width: 100%;
  }

  .hamburger-drop-down-profile {
      height: 100px;
  }
}

@media screen and (max-width: 320px){
    .hamburger-menu {
            width: 100px;
        }
    .menu-items{
        font-size: 14px;
        color: white;
        height: 50px;
        width: 100px;
    }
    .drop-down-item{
        font-size: 14px;
        height: 50px;
        width: 100%;
    }
    .hamburger-drop-down-profile{
        height: 100px;
    }
}