.root {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-perso {
    text-align: center;
    font-size: 2em;
}

.perso-subhead {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 0 0;
}

.existing-profile {
    margin-top: 30px;
}

.existing-profile:hover{
    background-color: #2fad6e;
    color: white;
    border: solid 1px #2fad6e;
}

.input-form {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.input-names {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-indent: 10px;
}

.label-forms {
    font-size: 20px;
    font-weight: 400;
}

.input-drop-down {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-indent: 10px;
    border: solid 1px;
}


.nav-buttons{
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.next-btn:hover{
    background-color: #2fad6e;
    color: white;
    border: solid 1px #2fad6e;
}
.notice {
    font-size: 10px;
    color: rgb(141, 16, 16);
}