.reg-main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.reg-card-container{
    width: auto;
    background-color: white;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    border-radius: 10px;
    padding: 50px;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-logo{
    width: 90px;
}

.reg-logo-container{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}
.reg-logo-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reg-logo-text-container .reg-span:nth-child(1){
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.reg-logo-text-container .reg-span:nth-child(2){
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.reg-span{
    font-size: 36px;
    color: black;
    width: 100%;
    margin: 0;
}

.reg-p{
    font-size: 18px;
    color: gray;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
}

.reg-p-foot{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    width: 100%;
    text-align: end;
    cursor: pointer;
}

.reg-p-foot:hover{
    color: rgb(54, 54, 54);
}

.reg-input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 8px;
    margin-bottom: 20px;
    text-indent: 20px;
    font-size: 14px;
    
}

.reg-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
    height: 50px;
    background-color: #2fad6e;
    color: white;
}

.reg-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
    height: 50px;
    background-color: #2fad6e;
    color: white;
    margin-top: 10px;
}

.reg-btn:hover{
    background-color: #299961;
    color: white;
    border: solid 1px #2fad6e;
}



.reg-btn:hover{
    background-color: #299961;
    color: white;
    border: solid 1px #2fad6e;
}


.reg-divider-foot{
    width: 100%;
    color: gray;
    margin-top: 10px;
}

@media screen and (max-width: 1200px){
    .reg-main-container{
        background-size: unset;
    }
}

@media screen and (max-width: 768px) {
    .reg-logo{
        width: 70px;
    }
    .reg-logo-text-container .reg-span:nth-child(1) {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }
    .reg-span{
        font-size: 28px;
    }
    .reg-p{
        font-size: 14px;
    }
    .reg-logo-text-container .reg-span:nth-child(2) {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }
    .reg-card-container{
        padding: 30px;
    }
}

@media screen and (max-width: 500px) {
    .reg-logo {
        width: 50px;
    }

    .reg-logo-text-container .reg-span:nth-child(1) {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .reg-span {
        font-size: 24px;
    }

    .reg-p {
        font-size: 12px;
    }

    .reg-logo-text-container .reg-span:nth-child(2) {
        font-size: 21px;
        font-weight: bold;
        color: black;
    }

    .reg-card-container {
        padding: 20px;
    }
    .reg-p-foot{
        font-size: 12px;
    }

}