.root {
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal-form{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pfaddress{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identity-proof{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certs{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-certs {
    height: 400px;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png);
    background-position: 49% 18%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.heading-text {
    line-height: normal;
    font-size: 70px;
    font-weight: 700;
    color: black;
    text-align: start;
    font-style: normal;
}

.subheading {
    font-size: 24px;
    line-height: normal;
    width: 700px;
    color: black;
    font-weight: 500;
    text-align: center;
}

.header-perso {
    text-align: center;
    font-size: 2em;
}

.perso-subhead {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 0 0;
}


.existing-profile {
    margin-top: 30px;
}

.nav-buttons-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    margin-top: 30px;
}
.nav-btn:hover{
    background-color: #2fad6e;
    color: white;
    border: solid 1px #2fad6e;
}

.hide{
    display: none;
}

.unhide{
    background-color: white;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    padding: 50px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
}

.existing-profile:hover{
    background-color: #2fad6e;
    color: white;
    border: solid 1px #2fad6e;
}

.input-form {
    width: 100%;
    height: 100%;
}

.input-names {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-indent: 10px;
}

.label-forms {
    font-size: 20px;
    font-weight: 400;
}

.input-drop-down {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-indent: 10px;
    border: solid 1px;
}

.barangay-clearance{
    width: 100%;
}

.solo-parent {
    width: 100%;
}


.cohabitation {
    width: 100%;
}

.good-moral {
    width: 100%;
    
}

.no-income {
    width: 100%;
    
}

.first-time-job-seeker {
    width: 100%;
    
}

.residency {
    width: 100%;
    
}

.transfer-of-residency{
    width: 100%;
    
}

.living-still{
    width: 100%;
    
}

.birth-fact{
    width: 100%;
    
}

.input-form-proof {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.left-sign {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.right-sign {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}
.checkSignature{
    width: 100%;
    height: 80%;
    border: solid 1px gray;
    display: flex;
}

.upload-div {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.first-id {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.second-id {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.signatures-buttons {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.nav-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 50px;
}



.sketchBtn{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

.sketchCanvas{
    width: 100%;
    height: 100%;
}

.checkSignatureMessage{
    color: black;
    height: 42px;
}

.sketchImgPreview{
    width: 100%;
    height: 245px;
}

.certs-container{    
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




// requestor choose

.choose-requestor{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.choose-requestor-no-account{
    display: flex;
    width: 300px;
    text-align: center;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}


.unhide:nth-child(2){
    margin-top: 100px;
    margin-bottom: 300px;

}
.choose-requestor-no-account span:nth-child(2), .choose-requestor-no-account span:nth-child(5){
    text-align: center;
    color: rgb(117, 117, 117);
    font-weight: 300;
}


// review modal



.review-modal-container {
    position: absolute;
    width: 56%;
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
    padding: 20px;
}

.review-container-main{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.review-container-main span{
    font-size: 36px;
    margin-bottom: 10px;
}
.review-container-main p{
    font-size: 18px;
}

.requests-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px
}

.request-text-details{
    width: 43%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);

}   

.request-image-details{
    width: 50%;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
    
}

.request-text-details span, .request-image-details span {
    font-size: 18px;
}

.request-text-details-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 9px;
}

.row-review-input-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.row-review-input-data input {
    width: 250px;
    height: 25px;
}

.row-review-input-data textarea{
    resize: none;
    width: 542px;
    height: 100px;
}
.review-header{
    display: flex;
    flex-direction: row;
}

.details-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.header-btn-container{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}
.header-btn:disabled{
    cursor: auto;
}

.submit-button{
    width: 300px;
    height: 40px;
    float: right;
}

