.login-main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-card-container{
    height: fit-content;
    background-color: white;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.login-logo{
    width: 90px;
}
.login-card-container a {
    width: 100%;
}
.login-logo-container{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}
.login-logo-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-logo-text-container .login-span:nth-child(1){
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.login-logo-text-container .login-span:nth-child(2){
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.login-span{
    font-size: 24px;
    font-weight: 600;
    color: black;
    width: 100%;
}

.login-p{
    font-size: 14px;
    color: gray;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
}

#back-home{
    float: right;
}

.login-p-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color: gray;
    width: 100%;
    text-align: end;
}

.login-p-foot p:hover{
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.login-input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 8px;
    margin-bottom: 20px;
    text-indent: 20px;
    font-size: 14px;
    
}

.login-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
    height: 42px;
    background-color: #2fad6e;
    color: white;
}

.reg-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: inherit;
    height: 42.19px;
    background-color: #2fad6e;
    color: white;
    margin-top: 10px;
}

.reg-btn:hover{
    background-color: #299961;
    color: white;
    border: solid 1px #2fad6e;
}



.login-btn:hover{
    background-color: #299961;
    color: white;
    border: solid 1px #2fad6e;
}


.login-divider-foot{
    width: 100%;
    color: gray;
    margin-top: 20px;
}

// error modal

.failed-modal-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(161, 161, 161, 0.39);

}
.failed-modal-box{
    width: 350px;
    height: 300px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 30px 0;
    z-index: 999;
}

.failed-message-inner-box{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    background-color: #d64747;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mui-failed-icon{
    color: white;
    font-size: 80px !important;
}

.inner-modal-message-with-btn{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

@media screen and (max-width: 1200px){
    .login-main-container {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('https://res.cloudinary.com/dgb2lnz2i/image/upload/v1706070752/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9HWUVEVS9NQUYxMVVHWUVEVS8xL3AuanBn_copy_soaq8u.png');
        background-repeat: no-repeat;
        background-size: unset;
    }
}

@media screen and (max-width: 490px) {
    .login-main-container {
            background-size: unset;
        }
    .login-card-container{
        width: 70%;
    }
    .login-btn{
        height: 40px;
    }
    .reg-btn{
        height: 40px;
    }
}

@media screen and (max-width: 375px) {
    .login-logo-text-container .login-span:nth-child(1){
        font-size: 16px;
    }
    .login-logo-text-container .login-span:nth-child(2){
        font-size: 24px;
    }
    .login-logo{
        width: 70px;
    }
    .login-span{
        font-size: 21px;
    }
    .login-p{
        width: 100%;
        font-size: 12px;
        text-align: justify;
    }
    .login-card-container {
        width: 70%;
        height: auto;
    }
    .login-input{
        height: 35px;
        
    }
    .login-btn {
        height: 30px;
        padding: 0;
        font-size: 14px;
    }

    .reg-btn {
        height: 30px;
        padding: 0;
        font-size: 14px;
    }
    .login-p-foot{
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .login-input {
        height: 30px;

    }

}